/* FINAL */
/***RESET***/
* {
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
  }
  
  /* Navigation */
  .img {
    height: 90%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .navigation {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #305a47;
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 50%;
    height: 10vh;
  }
  
  .buttons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .buttons button {
    border: none;
    background-color: #305a47;
    padding: 5px 15px;
    margin: 10px;
  }
  
  .aAjouter,
  .aStock {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
  }
  
  .aAjouter:hover,
  .aStock:hover {
    color: #b1b3b6;
  }
  
  /* FIN NAVIGATION */
  
  /* PAGE 1 */
  /* H1 et H3 */
  .bienvenue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .h1,
  .h3 {
    margin: 10px;
    display: flex;
    justify-content: center;
    color: #305a47;
  }
  
  /* Fin H1 et H3 */
  /* Formulaire */
  .formulaire {
    margin: 20px;
    background-color: #305a4717;
  }
  
  form {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /* DEUX BUTTON VALIDER ET ANNULER */
  .valEtAn {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  /* FIN PAGE 1 */
  /* footer */
  .fixe {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    bottom: 0;
    right: 0;
    left: 0;
    /*
      en indiquant une largeur 100%
      on aura la largeur du parent #wrapper
      et le footer ne prendra pas toute la largeur
      de l'écrane
      le repère de la position fixe étant l'écran
      en indiquant left:0 et right:0
      on n'a pas besoin de spécifier la taille
      */
  }
  
  .mainFooter {
    background-color: #305a47;
    padding: 5px;
    font-size: 1em;
    color: #fff;
    text-align: center;
  }
  
  .liensFooter a {
    color: #fff;
    text-decoration: none;
  }
  
  .liensFooter a:hover {
    color: #b1b3b6;
  }
  
  .liensFooter li {
    text-align: center;
    display: inline;
    padding: 0 1em;
  }
  
  /*fin footer*/