/* code couleur : cream and sweet 
#52352b ton chocolat
#b38e81 ton latte
#f4f4f7 ton crême
#f2e8d5 ton vanille
#e8d9b7 ton sucré
https://colorffy.com/palettes/ieBtfWEGQZguRkp6dHvW */


/* FINAL */
/*retire la marge interieur entre le html et le body*/
html,
body {
  height: 4000px;
  margin: 0;
  padding: 0;
  background: #f4f4f7;
}

/*debut du header barre de navigation*/
.navigation {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #b38e81;
  box-shadow: 0px 3px 8px rgba(48, 48, 48, 0.295);
}

.logo {
  padding-left: 5px;
  height: 10vh;
}

button {
  background: #52352b;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #52352b;
}

button a {
  color: #f4f4f7;
}

button:hover {
  background: rgb(59, 25, 25);
  ;
  color: white;
}

a:link {
  text-decoration: none;
}

/* FIN NAVIGATION */

/* PAGE 1 */
/* H1 et H3 */

.h1,
.h3 {
  margin: 10px;
  display: flex;
  justify-content: center;
  color: #52352b;
}

/* Fin H1 et H3 */
/* Formulaire */
/*form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}*/

.container {
  margin-left: 2em;
  margin-right: 2em;
}

form input {
  width: 30%;
  margin: 10px 0;
  padding: 10px;
}

/* DEUX BUTTON VALIDER ET ANNULER */
.valEtAn {
  display: flex;
  justify-content: center;
}

/* FIN PAGE 1 */
/* footer */
.fixe {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  bottom: 0;
  right: 0;
  left: 0;
  /* en indiquant une largeur 100%
on aura la largeur du parent #wrapper
et le footer ne prendra pas toute la largeur
de l'écran, le repère de la position fixe étant l'écran
en indiquant left:0 et right:0
on n'a pas besoin de spécifier la taille*/
}

.mainFooter {
  background-color: #b38e81;
  padding: 5px;
  font-size: 1em;
  color: #fff;
  text-align: center;
}

.liensFooter a {
  color: #fff;
  text-decoration: none;
}

.liensFooter a:hover {
  color: #b1b3b6;
}

.liensFooter li {
  text-align: center;
  display: inline;
  padding: 0 1em;
}

/*fin footer*/
#qrcode {
  width: 160px;
  height: 160px;
  margin-top: 15px;
}