/* code couleur : cream and sweet 
#52352b ton chocolat
#b38e81 ton latte
#f4f4f7 ton crême
#f2e8d5 ton vanille
#e8d9b7 ton sucré
https://colorffy.com/palettes/ieBtfWEGQZguRkp6dHvW */

@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Playfair+Display&family=Raleway&family=Unna&family=Yaldevi:wght@300;500&display=swap');


/* FINAL */
/*retire la marge interieur entre le html et le body*/
html, body {
  margin:0;
  padding:0;
  background: #f4f4f7;
}
  
  /*debut du header barre de navigation*/
.navigation{
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #b38e81;
  box-shadow: 0px 3px 8px rgba(48, 48, 48, 0.295);
}
  
.logo {
  padding-left: 5px;
  height: 9vh;
}
  
.buttons{
  margin-right: 5em;
}

/* FIN NAVIGATION */

/* GESTION DES BOUTONS*/
button{
  background: #52352b;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #52352b;
}
  
button a{
  color: #f4f4f7;
}
  
button:hover{
  background: rgb(59, 25, 25);;
  color: white;
}
  
a:link { 
  text-decoration:none; 
} 

/* FIN BOUTON*/
  
.bienvenue{
  height: 25vh;
}

/* PAGE 1 */
/* H1 et H3 */
  
h1{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 4rem;
  color: #52352b;
}

h2{
  display: flex;
  justify-content: center;
  margin-top: -2em;
  font-size: 2rem;
  text-transform: uppercase;
  color: #52352b;

}

h3{
  display: flex;
  justify-content: center;
  margin-top: 3em;
  font-size: 2rem;
  text-transform: uppercase;
  color: #52352b;
}
  
/* Fin H1 et H3 */
/* Formulaire */
  
  
form input{
  margin: 1em;
  width: 30em;
  padding: 10px;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
/* DEUX BUTTON VALIDER ET ANNULER */
.valEtAn {
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
  justify-content: center;
}
  
/* FIN PAGE 1 */
/* footer */

.mainFooter {
  background-color: #b38e81;
  padding: 5px;
  height: 10em;
}

.liensFooter{
  display: flex;
  justify-content: center;
}

.liensFooter a {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-family: "News Cycle";
}
  
.liensFooter a:hover {
  color: #b1b3b6;

}
  
.liensFooter li {
  text-align: center;
  display: inline;
  padding: 0 1em;
}
  
/*fin footer*/

/*MEDIA SCREEN REPONSIVE ZRJFQEK RHERJ*/
@media screen and (max-width: 500px) {

  .mainFooter{
    background-color: #b38e81;
    padding: 5px;
    height: 10em;
}
  }

  .liensFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }